/* Common styles for all screen sizes */
.altabout-section {
  display: flex;
  align-items: center;
  /* height: 80vh; */
  margin: 60px 20px; /* Adjust the margin for responsiveness */
  padding: 40px; /* Adjust the padding for responsiveness */
  background-color: #000000;
  border: 3px solid #000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(65, 65, 65, 0.5);
  overflow: hidden; /* Hide overflow on smaller screens */
}

.altabout-content {
  flex: 1;
  background-size: contain;
  padding: 0 20px; /* Adjust padding for responsiveness */
}

/* Base button styles */
.altregister-button {
  position: relative;
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: 500;
  bottom: -50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}

/* Apply the glow effect to text on hover */
.altregister-button:hover {
  color: #ffffff; /* Change text color on hover */
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* Add text glow effect on hover */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Add transition for glow effect */
}

.altabout-content h2 {
  font-size: 2rem; /* Adjust font size for responsiveness */
  margin-bottom: 10px; /* Adjust margin for responsiveness */
  text-align: center;
  font-size: 10vh;
  font-family: 'Bebas Neue', sans-serif;
  color: #ffffff;
}

.altabout-content p {
  font-size: 1rem; /* Adjust font size for responsiveness */
  font-weight: 500;
  color: #ffffff;
}

.altabout-decor {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.altdecor-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto;
}
