@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Barlow+Condensed:wght@500&family=Bebas+Neue&family=Noto+Serif:ital,wght@1,500&family=Roboto+Condensed:wght@300&family=Ultra&display=swap');
.himg {
  position: relative;
  background: url('./shrd.png');
  background-size: cover;
  backdrop-filter: blur(10px);
}

.gradient-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0)50%, rgb(255, 255, 255)99%);
  z-index: 0;
}

.hea {
  position: relative;
  top: -20px;
  font-size: 13vh;
  color:#220091;
  text-shadow: 10px 4px 5px rgba(243, 243, 243, 0.599);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  font-weight: 550;
  transition: all 0.3s ease-in-out;
}

.engg {
  position: relative;
  top: -20px;
  padding: 5px;
  font-size: 3vh;
  color: rgb(0, 0, 0);
  font-family: 'Noto Serif', serif;
  transition: all 0.3s ease-in-out; 
}


