@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.about-section {
    display: flex;
    align-items: center;
    padding: 80px 0;
    background-color:#ffffff6d;
    
  }
  
  .about-content {
    flex: 1;
    padding: 0 30px;
    transition: all 3.0s ease-in-out;
  }
  
  .about-content h2 {
    font-size: 50px;
    margin-bottom:0px;
    text-align: right; /* Align the heading to the right */
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .about-content p {
    font-size: 17px;
    font-weight: 500;
    color: #000000;
  }
  
  .about-decor {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .decor-image {
    width: 600px;
    height: auto;
    z-index: 1;
    
  }
  
  
@media screen and (max-width: 768px) {
    .about-section {
      flex-direction: column-reverse;
    }
    
    .about-content {
      text-align: center;
      order: 2;
    }
    
    .about-decor {
      justify-content: center;
      align-items: center;
      order: 1;
      margin-top: 20px;
    }
    
    .decor-image {
      width: 80%;
      max-width: 400px;
      height: auto;
    }
  
   
  }
  
  
  