
.footer {
  background-color: rgb(255, 255, 255);
  color: #003a73;
  padding: 30px 0;
  
  flex-shrink: 0;
  width: 100%;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px){
  .footer-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .social-icons {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
    margin-left: auto;
  }
  .footer-column {
    width: 100%;
    margin-bottom: 30px;
  }
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
}
.footer-column {
  width: 33.33%;
  margin-bottom: 30px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column p {
  margin-bottom: 10px;
}

.social-icons {
  transform: scale(1.5);
  list-style-type: none;
  padding: 0;
  margin-left: 60px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.fa {
  font-size: inherit;
}

.footer a {
  color: #003a73;
  text-decoration: none;
}

.footer a:hover {
  color: #000000;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}
