@font-face {
  font-family: 'Neoneon';
  src: url('../../../public/Neoneon-3zaD6.woff') format('woff2'), 
       url('../../../public/Neoneon-3zaD6.woff') format('woff'); 
 
  font-weight:1000;
  font-style: normal;
}
.altair-section {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
}



.altcont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.althead {
  font-family: 'Neoneon', sans-serif;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.85);
  letter-spacing: 20px;
}

.subtext {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 15px;
}

.explore-more-button {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 80%; /* Adjust the vertical position as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #c8c8c8;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: rgba(249, 213, 213, 0.758) 0px 5px 15px;
}

.explore-more-button:hover {
  background-color: #00c3ff;
}
