.countdown-container {
    background-image: url('./bg.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80%;
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #000000;
    background-color: rgba(255, 254, 254, 0.307); /* Background color with transparency */
    border-radius: 50px; /* Rounded corners */
    backdrop-filter: blur(5px); /* Blur effect for glassmorphism */
    -webkit-backdrop-filter: blur(30px); /* For older versions of Safari */
    padding: 20px; /* Add padding to give space around the content */
    box-shadow: rgba(183, 183, 183, 0.238) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .timer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  
  .timer-item span {
    font-size: 50px;
    font-weight: bold;
  }
  
  .timer-item span:first-child {
    color: #272829; /* Customize the color for numbers */
  }
  
  .timer-item span:last-child {
    color: #176B87; /* Customize the color for labels */
  }
  